<h2>Admins</h2>

<%= button_to "Create a new admin", new_admin_path, method: :get %>

<ul>
  <% @admins.each do |admin| %>
    <li>
      <%= admin.email %>
      <% if admin != current_admin %>
        <%= button_to "Delete", destroy_admin_path(admin), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>